body {
    padding: 6rem;
    background-color: #2d2f2d;
    color: #378c88;
    margin: 15px;
}

@media only screen and (max-width:767px){   
    #img1{
        align-items: center;
        width: 1050px;
        height: 700px;
        display:block;
        margin:auto;
    }
    
    #img2{
        align-items: center;
        width: 1050px;
        height: 700px;
        display:block;
        margin:auto;    
    }
}
@media only screen and (min-width:768px){   
    #img1{
        align-items: center;
        width: 700px;
        height: 450px;
        display:block;
        margin:auto;
    }
    
    #img2{
        align-items: center;
        width: 700px;
        height: 450px;
        display:block;
        margin:auto;    
    }
}
@media only screen and (min-width:200px) and (max-width:767px){   
    #img1{
        align-items: center;
        width: 450px;
        height: 250px;
        display:block;
        margin:auto;
    }
    
    #img2{
        align-items: center;
        width: 450px;
        height: 250px;
        display:block;
        margin:auto;    
    }
}
