html,
body {
  height: 100%;
  background: #276b3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #276b3e, #2c4767);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #276b3e, #2c4767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #378c88;
  margin-bottom: 4.5%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.panel-group { 
  background-color: #2d2f2d;
  border-radius: 10px;
  width: 100%;
  width: auto;
  max-width: 600px;
  padding: 10px;
  margin: auto;
}
.col{
  justify-content: left;
}
@media only screen and (max-width:767px){   /*Definimos el media query que cambiará a verde cuando la resolución sea igual o menor de 600px*/
    body{
        height: 100%;
        background: #276b3e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #276b3e, #2c4767);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #276b3e, #2c4767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #378c88;
        width:fit-content;
      }
      .panel-group { 
        background-color: #2d2f2d;
        border-radius: 10px;
        width: 100%;
        width: auto;
        max-width: 600px;
        padding: 10px;
        margin: auto;
      }
    }
@media only screen and (min-width:768px){   /*Definimos el media query que cambiará a verde cuando la resolución sea igual o mayor a 601px*/
  body{
    height: 100%;
    background: #276b3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #276b3e, #2c4767);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #276b3e, #2c4767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #378c88;
    width:100%;
  }
  .panel-group { 
    background-color: #2d2f2d;
    border-radius: 10px;
    width: 100%;
    width: auto;
    max-width: 600px;
    padding: 10px;
    margin: auto;
  }
}
@media only screen and (min-width:200px) and (max-width:767px){   /*Definimos el media query que cambiará a verde cuando la resolución sea igual o mayor a 601px*/
  body{
    height: 100%;
    background: #276b3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #276b3e, #2c4767);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #276b3e, #2c4767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #378c88;
    width:100%;
  }
  .panel-group { 
    background-color: #2d2f2d;
    border-radius: 10px;
    width: 100%;
    width: auto;
    max-width: 600px;
    padding: 10px;
    margin: auto;
  }
}
  