html,
body {
  height: 100%;
  background: #276b3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #276b3e, #2c4767);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #276b3e, #2c4767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #378c88;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-login { 
  background-color: #2d2f2d;
  border-radius: 10px;
  width: auto;
  max-width: 100%;
  padding: 10px;
  margin: auto;
  display: wrap;
}
.form-control {
  position: relative;
  height: auto;
  width: 100%;
  margin: 2px;
  font-size: 16px;
  max-width: auto;
}

.form-row{
  display: flex;
}

.form-row{
  justify-content:flex-start;
}
@media only screen and (max-width:767px){   /*Definimos el media query que cambiará a verde cuando la resolución sea igual o menor de 600px*/
    body{
        height: 100%;
        background: #276b3e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #276b3e, #2c4767);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #276b3e, #2c4767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #378c88;
      }
      .form-row{
        display: block;
      }
      .mio{
        position:relative;
        padding-left:0.3rem;
      }
    }
@media only screen and (min-width:768px){   /*Definimos el media query que cambiará a verde cuando la resolución sea igual o mayor a 601px*/
  body{
    background: #276b3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #276b3e, #2c4767);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #276b3e, #2c4767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #378c88;
  }
    .c2{
      position: relative;
      left: 4px;
    }
    #esper{
      position:relative;
      padding-left:0.3rem;
    }
}
#gridCheck{
  position: relative;
  left: 5px;
}
#check{
  position: relative;
  right: 15px;
}
.fin{
  position: relative;
  bottom: 7px;
}