.producto:hover{
    box-shadow: 5px 5px 100px rgba(8, 112, 39, 0.596);
    transform: translateY(-1%);
    background: #2d302d;
    transition: 0.5s;
}
.producto{
    display: inline-block;
    text-align: center;
    max-width: 350px;
}
.cuadrado{
    display: grid;
    justify-content: center;
}
.linea{
    display:-moz-inline-grid;
    justify-content:center;
}